button {
    width: 50px;
    height: 25px;
    border: none;
    background-color: #2d2d2d;
    cursor: pointer;
    outline: none;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}